body, html {
  width: 100%;
  height: 100%;
  font-family: 'Space Grotesk', sans-serif;
  background-repeat: #1F1F1F;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 6rem;
	color: white;
	transition: all 0.5s;
}

h1:hover {
	transform: scale(1.025);
}

p {
	font-size: 120%;
	color: white;
}

hr {
    margin: auto;
    color: white;
    border: 1px solid white;
    max-width: 145px;
    opacity: 1;
}

.btn {
	font-weight: 500;
	font-family: Space Grotesk;
}

.btn-light {
	padding: .5rem 2rem;
	background-color: white;
	border-color: white;
}

.btn-light:hover {
	background-color: rgb(255,60,60);
	color: white;
	border-color: rgb(255,60,60);
}

.buffer {
	height: 100px;
}

ul {
	margin-top: 16px;
}

.nav {
	--bs-nav-link-color: white;
	--bs-nav-link-hover-color: rgb(255,60,60);
}

footer {
	text-align: center;
	justify-content: center;
	margin-bottom: 24px;
}